.account-update-main {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.account-update-main-div {
    width: 500px;
    padding: 20px;
    border: 2px solid #008fff;
    border-radius: 5px;
}

.account-update-main-div-title {
    text-align: center;
    margin-bottom: 15px;
}

.account-update-main-div-select {
    width: 300px;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    outline: 0;
    border: 2px solid #000;
    border-radius: 5px;
}

.account-update-message {
    width: 300px;
    color: #008fff;
    text-decoration: underline #008fff;
    text-align: center;
}

