.ProfileImageUpdate {
    margin-top: 20px;
}

.profileImageUpdate-user-profile-img {
    border-radius: 5px;
    border: 2px solid #008fff;
    object-fit: cover;
}

.profileImageUpdate-default-profile-btn {
    border: 0;
    background-color: transparent;
    margin-top: 10px;
    font-size: 16px;
    color: #008fff;
    cursor: pointer;
    transition: 0.2s;
}
.profileImageUpdate-default-profile-btn:hover {
    text-decoration: underline #008fff;
}

.profileImageUpdate-input-file {
    display: none;
}

.profileImageUpdate-label-file {
    font-size: 24px;
    margin-top: 10px;
    padding: 10px;
    color: #008fff;
    border: 2px solid #008fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.profileImageUpdate-label-file:hover {
    border: 2px solid #00afff;
    background-color: rgba(0, 175, 255, 0.1);
}