* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-v-center {
    display: flex;
    align-items: center;
}
.flex-h-center {
    display: flex;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
}
.text-center {
    text-align: center;
}
.overflow-hidden {
    overflow: hidden;
}

.smooth-animation {
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(50px);
}
.smooth-animation.show-animation {
    opacity: 1;
    transform: translateY(0);
}

.back {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}
.back:hover {
    color: #000;
    text-decoration: underline #000;
}