.account-main {
    margin-top: 10vh;
}

.account-main-div {
    width: 75%;
    height: 70vh;
    border: 2px solid #008fff;
    border-radius: 5px;
    overflow: hidden;
}

.account-main-section-1 {
    border-right: 1px solid #008fff;
    width: 35%;
}

.account-main-section-2 {
    border-left: 1px solid #008fff;
    width: 65%;
}

.account-main-section-scroll-area {
    overflow-y: scroll;
}

.account-main-section-title {
    margin-top: 20px;
}

.account-main-section-profile-img {
    margin-top: 20px;
    border: 2px solid #008fff;
    border-radius: 20px;
    object-fit: cover;
}

.account-main-section-label, .account-main-section-info {
    margin-left: 40px;
}

.account-main-section-label {
    position: relative;
    font-size: 20px;
    padding-left: 5px;
    color: #222;
    border-left: 3px solid #008fff;
    border-radius: 3px;
}

.account-main-section-info {
    font-size: 22px;
    padding-left: 5px;
    margin-bottom: 20px
}

.account-main-section-1-buttons {
    padding: 20px;
}

.account-main-section-1-button {
    color: #ddd;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    transition: 0.2s;
}
.account-main-section-1-button:hover {
    cursor: pointer;
    color: #fff;
}

.account-main-section-1-update-button {
    margin-right: 20px;
    background-color: #008fff;
}
.account-main-section-1-update-button:hover {
    background-color: #00afff;
}

.account-main-section-1-delete-button {
    background-color: #d00000;
}
.account-main-section-1-delete-button:hover {
    background-color: #f00000;
}