.register-header {
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    
    background-image: url(/images/abstract-blue-wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.register-header-nav {
    max-width: 100%;
    width: 100vw;
    height: 10vh;
}

.register-header-nav .title {
    font-size: 42px;
    color: #fff;
    text-decoration: none;
}


.register-header-section {
    max-width: 100%;
    min-height: 80vh;
}

.register-header-section .background {
    width: 400px;
    height: 600px;
    border: 2px solid #aaa;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.register-header-section .form {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.register-header-section .title-form {
    color: #fff;
    font-size: 36px;
}

.register-header-section .input-form {
    width: 300px;
    font-size: 18px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: 0;
    transition: 0.2s;
}
.register-header-section .input-form:hover, .register-header-section .input-form:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.register-header-section .label-form {
    width: 300px;
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
}

.register-header-section .checkbox-show-password-form {
    display: none;
}

.register-header-section .label-container-checkbox-form {
    width: 300px;
}

.register-header-section .label-checkbox-form {
    color: #fff;
    cursor: pointer;
    position: relative;
}
.register-header-section .label-checkbox-form:hover {
    text-decoration: underline #fff;
}

.register-header-section .label-checkbox-form::after {
    content: '';
    position: absolute;
    top: 4.5px;
    left: 105%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
}
.register-header-section .checkbox-show-password-form:checked + .label-checkbox-form::after {
    background-color: #fff;
    border: 2px solid #ccc;
}

.register-header-section .button-form {
    width: 200px;
    font-size: 24px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}
.register-header-section .button-form:hover {
    cursor: pointer;
    border: 2px solid #ddd;
    background-color: #ddd;
}

.register-header-section .message-form {
    width: 350px;
    margin-top: 20px;
    text-align: center;
    color: rgb(230, 210, 0);
}

.register-header-section .advice-form {
    width: 350px;
    margin-top: 20px;
    color: #fff;
}

.register-header-section .button-simple {
    max-width: 250px;
    font-size: 16px;
    margin-top: 20px;
    color: #ddd;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.register-header-section .button-simple:hover {
    color: #fff;
    text-decoration: underline;
}
.register-header-section .button-simple-disabled {
    color: #aaa;
}
.register-header-section .button-simple-disabled:hover {
    color: #aaa;
}

.register-header-section .input-email-code-form::-webkit-inner-spin-button, .register-header-section .input-email-code-form::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}